* {
  box-sizing: border-box;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

body {
  margin: 0;
  width: auto;
  border: 2px solid;
  display: flex;
  align-items: center;
  flex-direction: column;
}

nav {
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
  opacity: 100%;
}

main {
  max-height: auto;
  width: 80%;
  overflow: hidden;
  display: flex;
  align-items: center;
  flex-direction: column;
  border: 2px solid;
  gap: 25px;
}

/* Date and time section */
.info-div {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
  margin-bottom: 1rem;
  align-items: center;
  background-color: rgb(176, 169, 169);
  opacity: 100%;
  width: 500px;
  height: 5rem;
  border: 2px solid;
  border-radius: 15px;
}

.time,
.date > p {
  display: flex;
  color: black;
  font-size: large;
  font-weight: 800;
  font-size: xx-large;
  padding: 10px 10px 10px 10px;
}

.content-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 60%;
}

/* Editable H1 section */
.dashboard-name {
  color: brown;
  font-weight: 900;
  font-size: 4rem;
  cursor: pointer;
  border-bottom: 1px dashed #000;
  display: inline-block;
}

#dashboard-name:hover {
  background-color: #f0f0f0;
}

#dashboard-name:focus {
  text-decoration: none;
}

/* Section for Quicklinks & Weather forecase */

.quick-links_weather_forecast-section {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 60%;
  gap: 25px;
}

.card-quick-links {
  text-align: center;
  height: auto;
  width: 60%;
  max-width: 600px;
  min-height: 400px;
  max-height: 400px;
  border: 2px solid;
  border-radius: 15px;
  color: black;
  font-size: large;
  font-weight: 800;
}

.card-weather-article {
  text-align: center;
  height: auto;
  width: 100%;
  max-width: 600px;
  min-height: 400px;
  max-height: 400px;
  border: 2px solid;
  border-radius: 15px;
  color: black;
  font-size: large;
  font-weight: 800;
}

/* Section for Notes and Stocks */
.stocks_notes-section {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 60%;
  gap: 25px;
  margin-bottom: 25px;
}

.card-electricity {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: auto;
  width: 50%;
  max-width: 600px;
  min-height: 400px;
  max-height: 400px;
  border: 2px solid;
  border-radius: 15px;
  color: black;
  font-size: large;
  font-weight: 800;
}

.card-expand {
  text-align: center;
  height: auto;
  width: 100%;
  max-width: 600px;
  min-height: 400px;
  max-height: auto;
  border: 2px solid;
  border-radius: 15px;
  color: black;
  font-size: large;
  font-weight: 800;
}

/* Quick link section */
.quick-link-header {
  display: flex;
  justify-content: center;
  align-items: center;
}

.add-site {
  display: flex;
  font-size: xx-large;
  margin-left: 10px;
  cursor: pointer;
  width: 1em;
  height: auto;
  transition: transform 0.5s ease;
}
.add-site:hover {
  transform: rotate(45deg);
}

/* Weather forecast section */
.weather-forecast-header {
  display: flex;
  justify-content: center;
  align-items: center;
}

.add-location {
  display: flex;
  font-size: xx-large;
  margin-left: 10px;
  cursor: pointer;
  width: 1em;
  height: auto;
  transition: transform 0.5s ease;
}
.add-location:hover {
  transform: rotate(45deg);
}

/* Electricity section */

.electricity-header {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 100%;
}

.add-electricity {
  display: flex;
  font-size: xx-large;
  margin-left: 10px;
  cursor: pointer;
  width: 1em;
  height: auto;
  transition: transform 0.5s ease;
}
.add-electricity:hover {
  transform: rotate(45deg);
}

/* Notes section */
.notes-header {
  display: flex;
  justify-content: center;
  align-items: center;
}

.add-note {
  display: flex;
  font-size: xx-large;
  margin-left: 10px;
  cursor: pointer;
  width: 1em;
  height: auto;
  transition: transform 0.5s ease;
}
.add-note:hover {
  transform: rotate(45deg);
}
.all-notes {
  display: flex;
  flex-direction: column;
}
.all-notes,
button {
  margin: 10px 0px;
}
.createdDiv {
}
textarea {
  background-color: rgb(230, 236, 236);
  width: 90%;
  max-width: 90%;
  height: 80px;
  max-height: 150px;
  border: none;
  outline: auto;
  background-color: bisque;
  resize: none;
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  overflow: auto;
}

/*  Footer Section */
footer {
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
  width: 100%;
  height: 10dvh;
}
.generate-background {
  padding: 15px 15px;
  border-radius: 15px;
  width: 15rem;
  background-color: bisque;
  cursor: pointer;
  margin-bottom: 20px;
}
